<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deletar Aluno</title>
        <link rel="stylesheet" href="../static/styles/bulma.css">
        <link rel="stylesheet" href="../static/styles/styles.css">
    </head>

    <body>
        <div class="container">
            <section class="section">
                <h1 class="title has-text-centered">Deletar Aluno</h1>
                <!-- Deletar -->
                <form action="/alunos/delete" method="post">
                    <input type="hidden" name="id" th:value="${id}">

                    <div class="notification is-warning">
                        <p><strong>Atenção!</strong> Tem certeza que deseja
                            excluir este aluno? Esta ação não pode ser
                            desfeita.</p>
                    </div>

                    <div class="field">
                        <label class="label">Nome:</label>
                        <div class="control">
                            <input class="input" type="text" name="nome"
                                th:value="${aluno['nome']}" disabled>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email:</label>
                        <div class="control">
                            <input class="input" type="text" name="email"
                                th:value="${aluno['email']}" disabled>
                        </div>
                    </div>

                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button type="submit"
                                class="button is-danger">Excluir</button>
                        </div>
                        <!-- Voltar -->
                        <div class="control">
                            <a href="/alunos" class="button is-link">Voltar</a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </body>

</html>
