<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UEG - Desenvolvimento Web 2025: Alunos</title>

        <!-- Chamar interno -->
        <link rel="stylesheet" href="styles/bulma.css">
        <!-- Referência para o Bulma CSS -->
        <link rel="stylesheet" href="styles/styles.css">
        <!-- Referência para o CSS externo -->

    </head>

    <body>ß
        <div class="container">
            <section class="section">
                <h1 class="title has-text-centered">Lista de Alunos</h1>

                <!-- Tabela de Alunos -->
                <table class="table is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="aluno, iter : ${alunos}">
                            <td th:text="${aluno.nome}">Thalles Alves</td>
                            <td
                                th:text="${aluno.email}">thalles@exemplo.com</td>
                            <td>
                                <a th:href="@{'/alunos/editar/'+${iter.index}}"
                                    href="aluno-update.html">
                                    <button type="button"
                                        class="button is-info is-small">Editar</button>
                                </a>
                                <a th:href="@{'/alunos/delete/'+${iter.index}}"
                                    href="aluno-delete.html">
                                    <button type="button"
                                        class="button is-danger is-small">Excluir</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="has-text-centered">
                    <a href="/" class="button is-link">Voltar</a>
                </div>
            </section>
        </div>
    </body>

</html>
