<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UEG - Atualização de Aluno</title>
    <link rel="stylesheet" href="../static/styles/bulma.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <div class="container">
        <section class="section">
            <h1 class="title has-text-centered">Atualização de Aluno</h1>

            <!-- Formulário com Thymeleaf -->
            <form action="/alunos/update" method="post">
                <!-- Campo oculto para o ID -->
                <input type="hidden" name="id" th:value="${aluno.id}">

                <div class="field">
                    <label for="nome" class="label">Nome:</label>
                    <div class="control">
                        <input type="text" id="nome" name="nome" class="input" th:value="${aluno.nome}" required>
                    </div>
                </div>

                <div class="field">
                    <label for="matricula" class="label">Matrícula:</label>
                    <div class="control">
                        <input type="text" id="matricula" name="matricula" class="input" th:value="${aluno.matricula}" required>
                    </div>
                </div>

                <div class="field">
                    <label for="email" class="label">Email:</label>
                    <div class="control">
                        <input type="email" id="email" name="email" class="input" th:value="${aluno.email}" required>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-primary">Salvar</button>
                    </div>
                    <div class="control">
                        <a href="./alunos.html" class="button is-link">Voltar</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</body>

</html>
