<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update de Aluno</title>
    </head>

    <body>

        <h1>Update de Aluno</h1>
        <form action="/alunos" method="post">

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <br>

            <label for="matricula">Matrícula:</label>
            <input type="text" id="matricula" name="matricula" required>
            <br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>

            <button type="submit">Salvar</button>

            <br>
            <a href="./alunos.html">Voltar</a>
        </form>
    </body>

</html>