<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UEG - Atualização de Aluno</title>
        <!-- Chamar interno -->
        <link rel="stylesheet" href="/styles/bulma.css">
        <!-- Referência para o Bulma CSS -->
        <link rel="stylesheet" href="/styles/styles.css">

        <!-- Referência para o CSS externo -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    </head>

    <body>
        <div class="container">
            <section class="section">
                <h1 class="title has-text-centered">Atualização de Aluno</h1>

                <!-- Formulário com Thymeleaf -->
                <form action="/alunos/update" method="post">
                    <!-- Campo oculto para o ID -->
                    <input type="hidden" name="id" th:value="${id}">

                    <!-- Campo Nome -->
                    <div class="field">
                        <label for="nome" class="label">Nome</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" id="nome"
                                name="nome"
                                th:value="${aluno.nome}"
                                placeholder="Digite o nome" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Campo Email -->
                    <div class="field">
                        <label for="email" class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" id="email"
                                name="email"
                                th:value="${aluno.email}"
                                placeholder="Digite o email" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Campo Disciplinas -->
                    <div class="field">
                        <label class="label">Disciplinas</label>
                        <div class="control">
                            <div class="select is-multiple is-rounded is-info">
                                <select id="disciplinas" name="disciplinas"
                                    th:field="*{aluno.disciplinas}">
                                    <option
                                        th:each="disciplina : ${todasDisciplinas}"
                                        th:value="${{disciplina}}"
                                        th:text="${disciplina.nome}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Botões -->
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit"
                                class="button is-primary">Salvar</button>
                        </div>
                        <div class="control">
                            <a href="/alunos"
                                class="button is-link is-light">Voltar</a>
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </body>

</html>
