<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UEG - Desenvolvimento Web 2025: Alunos</title>
    </head>

    <h1>Lista de Alunos</h1>

    <table>
        <tr>
            <td>Nome</td>
            <td>Matrícula</td>
            <td>Ações</td>
        </tr>
        <tr>
            <td>Thalles</td>
            <td>4002-8922</td>
            <td>
                <a href="./aluno-update.html">Editar</a>
                <a href="./aluno-delete.html">Excluir</a>
            </td>
        </table>

        <body>

        
            <a href="./index.html">Voltar</a>

        </body>

    </html>