<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo</title>
        <link rel="stylesheet" href="../static/styles/bulma.css">
        <!-- Referência para o Bulma CSS -->
        <link rel="stylesheet" href="../static/styles/styles.css">
        <!-- Referência para o CSS externo -->

        

</head>

<body>
    <section class="hero is-medium">
        <div class="hero-body has-text-centered">
            <h1 class="title">
                Bem-vindo ao Curso de Desenvolvimento Web
            </h1>
            <p class="subtitle">
                Transformando ideias em soluções práticas
            </p>
        </div>
    </section>

    <div class="container">
        <div class="section">
            <h2 class="title">Opções:</h2>
            <div class="columns">
                <div class="column is-half">
                    <a href="/alunos" class="button is-large is-fullwidth is-primary">Lista de Alunos</a>
                </div>
                <div class="column is-half">
                    <a href="/alunos/cadastrar" class="button is-large is-fullwidth is-info">Cadastrar Aluno</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
